[run]
branch = True
source = provy
include = provy/*
omit = provy/*/tests/*
       provy/tests/*
       provy/console.py
       test_*.*
       e2e.py

[report]
show_missing = True

[html]
title = provy coverage report
