server {
    listen 80;
    server_name {{ host }};
    root {{ path }}/public;
    passenger_enabled on;

    location ~ ^/assets/ {
        expires 1y;
        add_header Cache-Control public;

        # Some browsers still send conditional-GET requests if there's a
        # Last-Modified header or an ETag header even if they haven't
        # reached the expiry date sent in the Expires header.
        add_header Last-Modified "";
        add_header ETag "";
        break;
    }
}
