# log.io server auto-start
#
# description: Auto-starts log.io server
# processname: log.io server
# pidfile: /var/run/log.io.server.pid

LOGSERVER=$(which log-server)

case $1 in
start)
        echo -n "Starting log-server: "
        sudo su logio -c "$LOGSERVER >> /dev/null &"
        echo
        ;;
stop)
        echo -n "Stopping log-server: "
        ps aux | egrep log-server | egrep -v egrep | awk ' { print $2 } ' | xargs sudo kill -9
        echo
        ;;
restart)
        echo -n "Restarting log-server: "
        ps aux | egrep log-server | egrep -v egrep | awk ' { print $2 } ' | xargs sudo kill -9;echo $?
        sudo su logio -c "$LOGSERVER >> /dev/null &"
        echo
        ;;
esac
