/* Log.io log server configuration */

exports.config = {

  port: {{ port }}

  {% if authenticate: %}
  ,
  basic_auth: {
    username: "{{ auth_user }}",
    password: "{{ auth_pass }}"
  }
  {% endif %}
}

